<form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()" data-cy-form>
  <div class="form-group">
    <div class="flex flex-column gap-2">
      <label for="firstName">First Name:</label>
      <input
        pInputText
        id="firstName"
        formControlName="firstName"
        class="form-control"
        required
        data-cy-firstName
      />
    </div>
  </div>
  <div class="form-group">
    <div class="flex flex-column gap-2">
      <label for="lastName">Last Name:</label>
      <input
        pInputText
        id="lastName"
        formControlName="lastName"
        class="form-control"
        required
        data-cy-lastName
      />
    </div>
  </div>
  <div class="form-group">
    <div class="flex flex-column gap-2">
      <label for="email">Email:</label>
      <input
        pInputText
        id="email"
        formControlName="email"
        class="form-control"
        required
        data-cy-email
      />
    </div>
  </div>
  <div class="form-group">
    <div class="flex flex-column gap-2">
      <label for="phoneNumber">Phone Number:</label>

      <input
        pInputText
        id="phoneNumber"
        formControlName="phoneNumber"
        class="form-control"
        required
        data-cy-phoneNumber
      />
    </div>
  </div>
  <p-button label="Submit" severity="contrast" type="submit" data-cy-submit />
</form>
